<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SLIITShuttle"
        tools:targetApi="31">
        <activity
            android:name=".welcome"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="false" />
        <activity
            android:name=".profile"
            android:exported="false" />
        <activity
            android:name=".QR_code"
            android:exported="false" />
        <activity
            android:name=".payment"
            android:exported="false" />
        <activity
            android:name=".Bus_detail"
            android:exported="false" />
        <activity
            android:name=".select_bus_screen"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Sign_In"
            android:exported="false" />
        <activity
            android:name=".Sign_Up"
            android:exported="false" />
        <activity
            android:name=".onboard_screen_3"
            android:exported="false" />
        <activity
            android:name=".onboard_screen_2"
            android:exported="false" />
        <activity
            android:name=".onboard_screen_1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>